@using FantasyGenerator.Core.Models.Profession;

@model IEnumerable<ProfessionListViewModel>
@{
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 class="card-title">My Profession</h3>
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Short Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var prof in Model)
                            {
                                <tr>
                                    <td>@prof.Name</td>
                                    <td>@prof.Category</td>
                                    <td>@prof.Description</td>
                                    <td>
                                        <a asp-area="" asp-controller="profession" asp-action="ShowFullProfessionDescriptions" asp-route-professionId="@prof.Id" class="btn btn-block btn-outline-primary">All details</a>
                                        <a asp-area="" asp-controller="profession" asp-action="EditProfession" asp-route-professionId="@prof.Id" class="btn btn-block btn-outline-primary">Edit</a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (!Model.Any())
{
    <span style="font-size: 24px; color: red"> No race found ...</span>
}
</div>